<div class="flex flex-row mt-5">
  <div  id="chart-container" class="hover:scale-105 transition duration-300 flex flex-col items-center w-1/2 p-6 pb-6 bg-white rounded-lg shadow-xl">
    <h2 class="text-xl font-bold">Stock distribution</h2>
    <div id="chart-pieLeft"></div>
  </div>
  <div  id="donut-chart-container" class="hover:scale-105 transition duration-300 flex flex-col items-center w-1/2 p-6 pb-6 bg-white rounded-lg shadow-xl ml-5">
    <h2 class="text-xl font-bold">Products Sold</h2>
    <div id="chart-pieRight"></div>
  </div>
</div>
